

@CHARSET "ISO-8859-1";
 #half h1{
  font-family: sans-serif;
  font-weight:800;
  font-size:17px;
  color:#b30086;
}

.vertical-nav {
  min-width: 16rem;
  width: 16rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

.lead a:hover{
  text-decoration:none;
}

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

body {
 /* background:#330066;
  background: linear-gradient(to right, #330066, #ff99cc);
  background: -webkit-linear-gradient(to right, #330066, #ff99cc); */
  
  background:#f1f1f1;
  background: linear-gradient(to right, #f1f1f1, #f1f1f1);
  background: -webkit-linear-gradient(to right, #330066, #ff99cc);
  min-height: 100vh;
  overflow-x: hidden;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}

.form{
    height:400px;
    width:60%; 
    margin-left:270px; 
}

form {
	width: 100%;
	position: relative;
	z-index: 9;
	padding: 77px 61px 66px;
	background: #fff;
	box-shadow: 10px 10px 10px 10px rgba(5, 5, 5, 0.8);
	-webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(20, 20, 20, 0.5);
    -ms-box-shadow: 8px 5px 5px 10px rgba(10, 10, 10, 0.5);
    -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

h3 {
	text-transform: uppercase;
	font-size: 25px;
	font-family: "Sans-Serif verdana";
	color: black;
	letter-spacing: 3px;
	text-align: center;
	margin-bottom: 33px;
	text-shadow:2px 2px 4px black;
}

form {
	padding: 35px;
	box-shadow: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   -ms-box-shadow: none;
   -o-box-shadow: none;

}

.button {
   width: 100px;
   display: block;
   color: #ECEFF1;
   background-color: #3f51b5;
   background-color:#00ace6;
   margin-left:250px;
   cursor: pointer;
}

.button:hover{
    color: #ECEFF1;
    background-color: #006080;
}

.input-icons i {
    position: absolute;
  }

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    color: #00ace6;
}

.input-field {
    width: 450px;
    padding: 5px;
    text-align: center;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    font-size:17px;
}

.gender{
   font-size:15px;
   font-weight:bold;
   font-family: Verdana, sans-serif;
}